<%= form_for(@evaluation) do |f| %>
  <% if @evaluation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@evaluation.errors.count, "error") %> prohibited this evaluation from being saved:</h2>

      <ul>
      <% @evaluation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :evaluation_template_id %><br />
    <%= f.text_field :evaluation_template_id %>
  </div>
  <div class="field">
    <%= f.label :evaluator_id %><br />
    <%= f.text_field :evaluator_id %>
  </div>
  <div class="field">
    <%= f.label :subject_id %><br />
    <%= f.text_field :subject_id %>
  </div>
  <div class="field">
    <%= f.label :evaluation_date %><br />
    <%= f.date_select :evaluation_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
