<div class="row">
  <div class="col-md-12" style="height: 30px;"></div>

  <div class="col-md-12">
    <h2>Evaluator Home Page</h2>
  </div>

  <div class="col-md-12">
    <%= form_tag 'evaluators/select', method: 'post' do %>
        <div class="row">
          <div class="col-md-5">
            <%=
                select_tag 'evaluation_template', options_for_select(
                    EvaluationTemplate.order('name asc').all.collect {|et| [et.name, et.id]}, nil),
                    { :include_blank => 'Select Evaluation Template', class: 'btn btn-default form-control', required: true }
            %>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-5">
            <%=
                select_tag 'evaluatee', options_for_select(
                        current_user.evaluatees.order('name asc').all.collect {|et| [et.name, et.id]}, nil),
                        { include_blank: 'Select Evaluatee', class: 'btn btn-default form-control', required: true }
            %>
          </div>

          <div style="height: 100px;"></div>

          <div class="col-md-12" style="text-align: center">
            <%= submit_tag 'Create Evaluation', class: 'btn btn-primary' %>
          </div>
        </div>
    <% end %>


  </div>
</div>