<%= form_for(@evaluation) do |f| %>
  <% if @evaluation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@evaluation.errors.count, "error") %> prohibited this evaluation from being saved:</h2>

      <ul>
      <% @evaluation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div id='header'>
  <h1><%= @evaluation_template.name %></h1>
	<h3>Evaluation for: <%= @subject.name %></h3>
	<h3>Prepared by: <%= @evaluator.name %>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Date: <%= @evaluation.evaluation_date %></h3>
	<hr />
</div> <!-- head div -->

<% @evaluation_template.topics.each do |topic| %>
	<%= div_for(topic, :class => 'topic ui-corner-all') do %>
		<h2 class="demoHeaders"><%= topic.title %></h2>
		<% topic.children.each do |subtopic| %>
			<%= div_for(subtopic, :class => 'subtopic ui-corner-all') do %>
				<div class ='st_left'>
					&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Rating History: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Rating:
					<% previous = subtopic.previous_ratings(@evaluation.id, @subject.id) %>
					<%= render( :partial => 'shared/chart', :locals => { :topic => topic, :subtopic => subtopic, :previous => previous, :sliders => true } ) %>
				</div>
				
				<div class='st_right'>
					<div class='st_head'>
						<h3><%= subtopic.title %></h3>
					</div>
					<div class="buttons">
						Comments: <br />
						<button type="button">standard</button> <br />
						<button type="button">history</button> <br />
						<button type="button">other</button>
					</div>
					
					<div class ='st_desc'>
						<fieldset>
							<% fields_for :evaluation_comment do |comment| %>
								<%= comment.text_area :text, :cols => 80, :rows => 6 %>
							<% end %>
						</fieldset>
					</div>
				</div>
				<div style="clear:both;"></div>
			<% end %>
		<% end %>
	<% end %>
<% end %>

<div class="actions">
  <%= f.submit %>
</div>

<% end %>
