<h1>Listing evaluations</h1>

<table>
  <tr>
    <th>Evaluation template</th>
    <th>Evaluator</th>
    <th>Subject</th>
    <th>Evaluation date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @evaluations.each do |evaluation| %>
  <tr>
    <td><%= evaluation.evaluation_template_id %></td>
    <td><%= evaluation.evaluator_id %></td>
    <td><%= evaluation.subject_id %></td>
    <td><%= evaluation.evaluation_date %></td>
    <td><%= link_to 'Show', evaluation %></td>
    <td><%= link_to 'Edit', edit_evaluation_path(evaluation) %></td>
    <td><%= link_to 'Destroy', evaluation, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Evaluation', new_evaluation_path %>
