<script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/4.1.9.1/highcharts.js"></script>

<div class="row" style="margin-top: 30px; margin-bottom: 30px; padding-bottom: 25px; border-bottom: 1px solid #d3d3d3">
	<h3>
	  Evaluation for <strong><%= @evaluatee.name %></strong>  
	</h3>

	<p>
		<span>
			Prepared by: 
			<strong>
				<%= current_user.name %>
			</strong>
		</span>

		<span style="margin-left: 50px;">
			Evaluation Date <strong> <%= Time.now.strftime("%b, %d, %Y") %> </strong>
		</span>
	</p>
</div>

<div class="row">
	<% @topics.each do |topic| %>
    	<%= render partial: 'topics/topic_chart', locals: {topic: topic, evaluation_template_id: @evaluation_template.id} %>
	<% end %>
	<br>
	<br>
</div>
