<script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/4.1.9.1/highcharts.js"></script>

<br>
<br>
<div class="pull-right"> <%= link_to 'Create another Evaluation', root_path, class: 'btn btn-default' %> </div>

<div class="row" style="margin-top: 30px; margin-bottom: 30px; padding-bottom: 25px; border-bottom: 1px solid #d3d3d3">
  <h3>
    Evaluation for <strong><%= @evaluatee.name %></strong>
  </h3>

  <p>
		<span>
			Prepared by: 
			<strong>
              <%= @evaluatee.evaluator.name %>
            </strong>
		</span>

		<span style="margin-left: 50px;">
			Evaluation Date <strong> <%= Time.now.strftime("%b, %d, %Y") %> </strong>
		</span>
  </p>
</div>

<div class="row">
  <% @topics.each do |topic| %>
      <%= render partial: 'topics/topic_chart', locals: {topic: topic, evaluation_template_id: @evaluation_template.id} %>
  <% end %>
  <br>
  <br>
</div>

<br>
<br>
<div class="pull-right">
  <%= link_to 'Create another Evaluation', root_path, class: 'btn btn-default' %>
  <%= link_to 'Send mail to Evaluatee', send_mail_path(evaluatee_email: @evaluatee.email, evaluation_id: @evaluation.id), remote: true, class: 'btn btn-default' %>
  <%= link_to 'Preview', evaluation_preview_path(@evaluation), class: 'btn btn-default' %>
</div>
