$("textarea[name='comment[text]']").val('');
$("#list_comments_topic_<%= @comment.topic.id %>").prepend('<%= @comment.text %> <div style="text-align:right;"><small><%= time_ago_in_words(@comment.created_at) %></small></div><hr>');