<p id="notice"><%= notice %></p>

<p>
  <b>Evaluation:</b>
  <%= @comment.evaluation_id %>
</p>

<p>
  <b>Topic:</b>
  <%= @comment.topic_id %>
</p>

<p>
  <b>Comment:</b>
  <%= @comment.text %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
