<%= form_for(@rating_template) do |f| %>
  <% if @rating_template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rating_template.errors.count, "error") %> prohibited this rating_template from being saved:</h2>

      <ul>
      <% @rating_template.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :low %><br />
    <%= f.text_field :low %>
  </div>
  <div class="field">
    <%= f.label :high %><br />
    <%= f.text_field :high %>
  </div>
  <div class="field">
    <%= f.label :low_description %><br />
    <%= f.text_area :low_description %>
  </div>
  <div class="field">
    <%= f.label :high_description %><br />
    <%= f.text_area :high_description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
