<h1>Listing rating_templates</h1>

<table>
  <tr>
    <th>Low</th>
    <th>High</th>
    <th>Low description</th>
    <th>High description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rating_templates.each do |rating_template| %>
  <tr>
    <td><%= rating_template.low %></td>
    <td><%= rating_template.high %></td>
    <td><%= rating_template.low_description %></td>
    <td><%= rating_template.high_description %></td>
    <td><%= link_to 'Show', rating_template %></td>
    <td><%= link_to 'Edit', edit_rating_template_path(rating_template) %></td>
    <td><%= link_to 'Destroy', rating_template, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Rating template', new_rating_template_path %>
