<p id="notice"><%= notice %></p>

<p>
  <b>Low:</b>
  <%= @rating_template.low %>
</p>

<p>
  <b>High:</b>
  <%= @rating_template.high %>
</p>

<p>
  <b>Low description:</b>
  <%= @rating_template.low_description %>
</p>

<p>
  <b>High description:</b>
  <%= @rating_template.high_description %>
</p>


<%= link_to 'Edit', edit_rating_template_path(@rating_template) %> |
<%= link_to 'Back', rating_templates_path %>
