<%= form_for @topic do |f| %>
  <% if @topic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@topic.errors.count, "error") %> prohibited this topic from being saved:</h2>

      <ul>
      <% @topic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2">
      <br>
      <div class="actions">
        <%= f.submit "#{is_subtopic ? 'Create sub-topic' : 'Create topic' }" %>
      </div>
    </div>

    <%= f.hidden_field :evaluation_template_id, value: evaluation_template_id if evaluation_template_id %>

    <% if is_subtopic %>
        <%= f.hidden_field :parent_topic_id, value: parent_topic_id %>
    <% end %>


    <div class="col-md-4">
      <div class="field">
        <%= f.label :title %><br />
        <%= f.text_field :title, class: 'form-control', required: true %>
      </div>
    </div>

    <div class="col-md-4">
      <div class="field">
        <%= f.label :description %><br />
        <%= f.text_area :description, class: 'form-control', required: true %>
      </div>
    </div>
  </div>

<% end %>
