
<div class="row" style="margin-top: 30px;">
  <div class="col-md-12" style="height: 100px; border: 1px solid #d3d3d3; background-color: #ffffff; padding: 30px 15px; display: table">
    <h3>
      <%= topic.title %>
    </h3>

    <br>

    <%= topic.description %>
    <br>
    <br>
    <br>

    <% topic.children.each do |sub_topic| %>
        <div class="col-md-12" style="height: 100px; border: 1px solid #d3d3d3; background-color: #ffffff; padding: 30px 15px; display: table; margin-top: 10px">
          <h4><%= sub_topic.title %></h4>
          <%= sub_topic.description %>
        </div>
    <% end %>

    <% if params[:action] == 'edit' %>
        <div class="col-md-12" style="border: 1px solid #d3d3d3; padding-top: 10px; margin-top: 30px; background-color: #c8c8c8">
          <%= render partial: 'topics/form', locals: { evaluation_template_id: evaluation_template_id, is_subtopic: true, parent_topic_id: topic.id }%>
        </div>

        <br>
        <br><br>

  <% end %>

  </div>
</div>