<div class="row" style="margin-top: 30px;">
  <div class="col-md-12" style="height: 100px; border: 1px solid #d3d3d3; background-color: #ffffff; padding: 30px 15px; display: table">
    <h3>
      <%= topic.title %>
    </h3>

    <br>

    <%= topic.description %>
    <br>
    <br>
    <br>

    <% if topic.children.count > 0 %>

        <% topic.children.each do |sub_topic| %>
            <div class="col-md-12" style="height: 300px; border: 1px solid #d3d3d3; background-color: #ffffff; padding: 30px 15px; display: table; margin-top: 10px">
              <div class="row" style="padding-left: 20px;">
                <h4><%= sub_topic.title %></h4>
                <%= sub_topic.description %>
              </div>

              <br><br>

              <div class="col-md-4">
                <div id="rating_chart_topic_<%= sub_topic.id %>" style="width: 100%; height: 250px;" class="rating_chart_topic"></div>
              </div>

              <div class="col-md-8">
                <div class="row">
                  <%= form_tag ratings_path, method: 'post', remote: true do %>
                      <%= hidden_field_tag 'rating[topic_id]', sub_topic.id %>
                      <%= hidden_field_tag 'rating[evaluation_id]', params[:id] %>
                      <%= hidden_field_tag 'rating[evaluator_id]', current_user.id %>
                      <%= hidden_field_tag 'rating[evaluatee_id]', params[:evaluatee_id] %>

                      <div class="col-md-6">
                        <%= select_tag 'rating[value]', options_for_select([[1, 1], [2, 2], [3, 3], [4, 4], [5, 5]], nil), { include_blank: 'Rate', class: 'btn btn-default form-control', required: true } %>
                      </div>
                      <div class="col-md-6">
                        <%= submit_tag 'Rate', class: 'btn btn-default' %>
                      </div>
                  <% end %>
                </div>

                <br><br>

                <div class="row">
                  <%= form_tag comments_path, method: 'post', remote: true do %>
                      <%= hidden_field_tag 'comment[topic_id]', sub_topic.id %>
                      <%= hidden_field_tag 'comment[evaluation_id]', params[:id] %>
                      <%= hidden_field_tag 'comment[evaluator_id]', current_user.id %>
                      <%= hidden_field_tag 'comment[evaluatee_id]', params[:evaluatee_id] %>

                      <div class="col-md-12">
                        <%= label_tag 'Comment' %>
                        <br>
                        <%= text_area_tag 'comment[text]', nil, class: 'form-control', rows: 4 %>
                        <div class="row">
                          <div class="col-md-3">
                            <div style="margin-top: 20px;">
                              <%= submit_tag 'Comment', class: 'btn btn-default' %>
                            </div>
                          </div>

                          <div class="col-md-6"></div>

                          <div class="col-md-3" style="margin-top: 20px;">
                            <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapse_comments_topic_<%= sub_topic.id %>" aria-expanded="false" aria-controls="collapseExample">
                              View comments history
                            </button>
                          </div>

                        </div>
                      </div>


                      <div class="collapse" id="collapse_comments_topic_<%= sub_topic.id %>">
                          <div class="col-md-12" id="list_comments_topic_<%= sub_topic.id %>" style="margin-top: 30px;">
                            <% sub_topic.comments.order('created_at desc').each do |cm| %>
                                <%= cm.text %>
                                <div class="row">
                                  <div class="col-md-9">
                                    <%= link_to("delete", comment_path(cm), :method => :delete, remote: true) %>
                                  </div>

                                  <div class="col-md-3">
                                    <small><%= time_ago_in_words(cm.created_at) %></small>
                                  </div>
                                </div><hr>
                            <% end %>
                          </div>
                      </div>

                  <% end %>
                </div>
              </div>

            </div>
        <% end %>
    <% else %>
        <div class="col-md-12" style="height: 300px; border: 1px solid #d3d3d3; background-color: #ffffff; padding: 30px 15px; display: table; margin-top: 10px">
          <div class="col-md-4">
            <div id="rating_chart_topic_<%= topic.id %>" style="width: 100%; height: 250px;" class="rating_chart_topic"></div>
          </div>

          <div class="col-md-8">
            <div class="row">
              <%= form_tag ratings_path, method: 'post', remote: true do %>
                  <%= hidden_field_tag 'rating[topic_id]', topic.id %>
                  <%= hidden_field_tag 'rating[evaluation_id]', params[:id] %>
                  <%= hidden_field_tag 'rating[evaluator_id]', current_user.id %>
                  <%= hidden_field_tag 'rating[evaluatee_id]', params[:evaluatee_id] %>

                  <div class="col-md-6">
                    <%= select_tag 'rating[value]', options_for_select([[1, 1], [2, 2], [3, 3], [4, 4], [5, 5]], nil), { include_blank: 'Rate', class: 'btn btn-default form-control', required: true } %>
                  </div>
                  <div class="col-md-6">
                    <%= submit_tag 'Rate', class: 'btn btn-default' %>
                  </div>
              <% end %>
            </div>

            <br><br>

            <div class="row">
              <%= form_tag comments_path, method: 'post', remote: true do %>
                  <%= hidden_field_tag 'comment[topic_id]', topic.id %>
                  <%= hidden_field_tag 'comment[evaluation_id]', params[:id] %>
                  <%= hidden_field_tag 'comment[evaluator_id]', current_user.id %>
                  <%= hidden_field_tag 'comment[evaluatee_id]', params[:evaluatee_id] %>

                  <div class="col-md-12">
                    <%= label_tag 'Comment' %>
                    <br>
                    <%= text_area_tag 'comment[text]', nil, class: 'form-control', rows: 4 %>
                    <div class="row">
                      <div class="col-md-3">
                        <div style="margin-top: 20px;">
                          <%= submit_tag 'Comment', class: 'btn btn-default' %>
                        </div>
                      </div>

                      <div class="col-md-6"></div>

                      <div class="col-md-3" style="margin-top: 20px;">
                        <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapse_comments_topic_<%= topic.id %>" aria-expanded="false" aria-controls="collapseExample">
                          View comments history
                        </button>
                      </div>

                    </div>
                  </div>


                  <div class="collapse" id="collapse_comments_topic_<%= topic.id %>">
                    <div class="">

                      <div class="col-md-12" id="list_comments_topic_<%= topic.id %>" style="margin-top: 30px;">
                        <% topic.comments.order('created_at desc').each do |cm| %>
                            <%= cm.text %>
                            <div class="row">
                              <div class="col-md-9">
                                <%= link_to("delete", comment_path(cm), :method => :delete, remote: true) %>
                              </div>

                              <div class="col-md-3">
                                <small><%= time_ago_in_words(cm.created_at) %></small>
                              </div>
                            </div><hr>
                        <% end %>
                      </div>

                    </div>
                  </div>

              <% end %>
            </div>
          </div>

        </div>
    <% end %>
    <br>
    <br><br>

  </div>
</div>

<script>
    $(function () {
        <% if topic.children.count > 0 %>
            <% topic.children.each do |sub_topic| %>
                <% last_ratings = sub_topic.ratings.where(evaluatee_id: params[:evaluatee_id]).last(5).reverse.to_a %>

                $("#rating_chart_topic_<%= sub_topic.id %>").highcharts({
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: 'Rating history'
                    },
                    xAxis: {
                        type: 'category'
                    },
                    yAxis: {
                        title: {
                            text: 'Rating scale'
                        }

                    },
                    legend: {
                        enabled: false
                    },
                    plotOptions: {
                        series: {
                            borderWidth: 0,
                            dataLabels: {
        //                        enabled: true,
        //                        format: '{point.y:.1f}%'
                            }
                        }
                    },

                    tooltip: {
                        headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                        pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
                    },

                    series: [{
                        name: "Brands",
                        colorByPoint: true,
                        data: [{
                            name: "<%= last_ratings[4] ? last_ratings[4].created_at.strftime("%-m/%-d") : '' %>",
                            y: <%= last_ratings[4] ? last_ratings[4].value.to_i : 0 %>
                        }, {
                            name: "<%= last_ratings[3] ? last_ratings[3].created_at.strftime("%-m/%-d") : '' %>",
                            y: <%= last_ratings[3] ? last_ratings[3].value.to_i : 0 %>
                        }, {
                            name: "<%= last_ratings[2] ? last_ratings[2].created_at.strftime("%-m/%-d") : '' %>",
                            y: <%= last_ratings[2] ? last_ratings[2].value.to_i : 0 %>
                        }, {
                            name: "<%= last_ratings[1] ? last_ratings[1].created_at.strftime("%-m/%-d") : '' %>",
                            y: <%= last_ratings[1] ? last_ratings[1].value.to_i : 0 %>
                        }, {
                            name: "<%= last_ratings[0] ? last_ratings[0].created_at.strftime("%-m/%-d") : '' %>",
                            y: <%= last_ratings[0] ? last_ratings[0].value.to_i : 0 %>
                        }]
                    }]
                });
            <% end %>
        <% else %>
            <% last_ratings = topic.ratings.where(evaluatee_id: params[:evaluatee_id]).last(5).reverse.to_a %>

            $("#rating_chart_topic_<%= topic.id %>").highcharts({
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Rating history'
                },
                xAxis: {
                    type: 'category'
                },
                yAxis: {
                    title: {
                        text: 'Rating scale'
                    }

                },
                legend: {
                    enabled: false
                },
                plotOptions: {
                    series: {
                        borderWidth: 0,
                        dataLabels: {
                            //                        enabled: true,
                            //                        format: '{point.y:.1f}%'
                        }
                    }
                },

                tooltip: {
                    headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                    pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
                },

                series: [{
                    name: "Brands",
                    colorByPoint: true,
                    data: [{
                        name: "<%= last_ratings[4] ? last_ratings[4].created_at.strftime("%-m/%-d") : '' %>",
                        y: <%= last_ratings[4] ? last_ratings[4].value.to_i : 0 %>
                    }, {
                        name: "<%= last_ratings[3] ? last_ratings[3].created_at.strftime("%-m/%-d") : '' %>",
                        y: <%= last_ratings[3] ? last_ratings[3].value.to_i : 0 %>
                    }, {
                        name: "<%= last_ratings[2] ? last_ratings[2].created_at.strftime("%-m/%-d") : '' %>",
                        y: <%= last_ratings[2] ? last_ratings[2].value.to_i : 0 %>
                    }, {
                        name: "<%= last_ratings[1] ? last_ratings[1].created_at.strftime("%-m/%-d") : '' %>",
                        y: <%= last_ratings[1] ? last_ratings[1].value.to_i : 0 %>
                    }, {
                        name: "<%= last_ratings[0] ? last_ratings[0].created_at.strftime("%-m/%-d") : '' %>",
                        y: <%= last_ratings[0] ? last_ratings[0].value.to_i : 0 %>
                    }]
                }]
            });
        <% end %>
    });

</script>