<div class="row" style="margin-top: 30px;">
  <div class="col-md-12" style="height: 100px; border: 1px solid #d3d3d3; background-color: #ffffff; padding: 30px 15px; display: table">
    <h3>
      <%= topic.title %>
    </h3>

    <br>

    <%= topic.description %>
    <br>
    <br>
    <br>

    <% if topic.children.count > 0 %>

        <% topic.children.each do |sub_topic| %>
            <div class="col-md-12" style="height: 300px; border: 1px solid #d3d3d3; background-color: #ffffff; padding: 30px 15px; display: table; margin-top: 10px">
              <div class="row" style="padding-left: 20px;">
                <h4><%= sub_topic.title %></h4>
                <%= sub_topic.description %>
              </div>

              <br><br>

              <div class="col-md-4">
                <div id="rating_chart_topic_<%= sub_topic.id %>" style="width: 100%; height: 250px;" class="rating_chart_topic"></div>
              </div>

              <div class="col-md-8">


                <div class="row">
                  <div class="col-md-12" id="list_comments_topic_<%= sub_topic.id %>" style="margin-top: 30px;">
                    <% sub_topic.comments.order('created_at desc').each do |cm| %>
                        <%= cm.text %> <div style="text-align:right;"><small><%= time_ago_in_words(cm.created_at) %></small></div><hr>
                    <% end %>
                  </div>
                </div>
              </div>

            </div>
        <% end %>
    <% else %>
        <div class="col-md-12" style="height: 300px; border: 1px solid #d3d3d3; background-color: #ffffff; padding: 30px 15px; display: table; margin-top: 10px">
          <div class="col-md-4">
            <div id="rating_chart_topic_<%= topic.id %>" style="width: 100%; height: 250px;" class="rating_chart_topic"></div>
          </div>

          <div class="col-md-8">

            <div class="row">
              <div class="col-md-12" id="list_comments_topic_<%= topic.id %>" style="margin-top: 30px;">
                <% topic.comments.order('created_at desc').each do |cm| %>
                    <%= cm.text %> <div style="text-align:right;"><small><%= time_ago_in_words(cm.created_at) %></small></div><hr>
                <% end %>
              </div>
            </div>
          </div>

        </div>
    <% end %>
    <br>
    <br><br>

  </div>
</div>

<script>
    $(function () {
        <% if topic.children.count > 0 %>
        <% topic.children.each do |sub_topic| %>
        <% last_ratings = sub_topic.ratings.where(evaluatee_id: evaluatee_id).last(5).reverse.to_a %>

        $("#rating_chart_topic_<%= sub_topic.id %>").highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Rating history'
            },
            xAxis: {
                type: 'category'
            },
            yAxis: {
                title: {
                    text: 'Rating scale'
                }

            },
            legend: {
                enabled: false
            },
            plotOptions: {
                series: {
                    borderWidth: 0,
                    dataLabels: {
                        //                        enabled: true,
                        //                        format: '{point.y:.1f}%'
                    }
                }
            },

            tooltip: {
                headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
            },

            series: [{
                name: "Brands",
                colorByPoint: true,
                data: [{
                    name: "<%= last_ratings[4] ? last_ratings[4].created_at.strftime("%-m/%-d") : '' %>",
                    y: <%= last_ratings[4] ? last_ratings[4].value.to_i : 0 %>
                }, {
                    name: "<%= last_ratings[3] ? last_ratings[3].created_at.strftime("%-m/%-d") : '' %>",
                    y: <%= last_ratings[3] ? last_ratings[3].value.to_i : 0 %>
                }, {
                    name: "<%= last_ratings[2] ? last_ratings[2].created_at.strftime("%-m/%-d") : '' %>",
                    y: <%= last_ratings[2] ? last_ratings[2].value.to_i : 0 %>
                }, {
                    name: "<%= last_ratings[1] ? last_ratings[1].created_at.strftime("%-m/%-d") : '' %>",
                    y: <%= last_ratings[1] ? last_ratings[1].value.to_i : 0 %>
                }, {
                    name: "<%= last_ratings[0] ? last_ratings[0].created_at.strftime("%-m/%-d") : '' %>",
                    y: <%= last_ratings[0] ? last_ratings[0].value.to_i : 0 %>
                }]
            }]
        });
        <% end %>
        <% else %>
        <% last_ratings = topic.ratings.where(evaluatee_id: params[:evaluatee_id]).last(5).reverse.to_a %>

        $("#rating_chart_topic_<%= topic.id %>").highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Rating history'
            },
            xAxis: {
                type: 'category'
            },
            yAxis: {
                title: {
                    text: 'Rating scale'
                }

            },
            legend: {
                enabled: false
            },
            plotOptions: {
                series: {
                    borderWidth: 0,
                    dataLabels: {
                        //                        enabled: true,
                        //                        format: '{point.y:.1f}%'
                    }
                }
            },

            tooltip: {
                headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
            },

            series: [{
                name: "Brands",
                colorByPoint: true,
                data: [{
                    name: "<%= last_ratings[4] ? last_ratings[4].created_at.strftime("%-m/%-d") : '' %>",
                    y: <%= last_ratings[4] ? last_ratings[4].value.to_i : 0 %>
                }, {
                    name: "<%= last_ratings[3] ? last_ratings[3].created_at.strftime("%-m/%-d") : '' %>",
                    y: <%= last_ratings[3] ? last_ratings[3].value.to_i : 0 %>
                }, {
                    name: "<%= last_ratings[2] ? last_ratings[2].created_at.strftime("%-m/%-d") : '' %>",
                    y: <%= last_ratings[2] ? last_ratings[2].value.to_i : 0 %>
                }, {
                    name: "<%= last_ratings[1] ? last_ratings[1].created_at.strftime("%-m/%-d") : '' %>",
                    y: <%= last_ratings[1] ? last_ratings[1].value.to_i : 0 %>
                }, {
                    name: "<%= last_ratings[0] ? last_ratings[0].created_at.strftime("%-m/%-d") : '' %>",
                    y: <%= last_ratings[0] ? last_ratings[0].value.to_i : 0 %>
                }]
            }]
        });
        <% end %>
    });

</script>