$("#topics-list").append(
                "<h3>" +
                    "Topic <%= @topic.id %> <%= @topic.title %>" +
                "</h3>" +

                "<br>" +

                "<div class='row'>" +
                    '<div class="col-md-12" style="height: 100px; border: 1px solid #d3d3d3; background-color: #ffffff">' +
                        "<%= @topic.description %>" +
                    "</div>" +
                "</div>"
);

$("#new_evaluation_template").append(
        '<input class="form-control" type="hidden" name="topic_ids[]" value="<%= @topic.id %>">'
)