<h1>Listing topics</h1>

<table>
  <tr>
    <th>Rating template</th>
    <th>Title</th>
    <th>Description</th>
    <th>Parent</th>
    <th>Lft</th>
    <th>Rgt</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @topics.each do |topic| %>
  <tr>
    <td><%= topic.rating_template_id %></td>
    <td><%= topic.title %></td>
    <td><%= topic.description %></td>
    <td><%= topic.parent_id %></td>
    <td><%= topic.lft %></td>
    <td><%= topic.rgt %></td>
    <td><%= link_to 'Show', topic %></td>
    <td><%= link_to 'Edit', edit_topic_path(topic) %></td>
    <td><%= link_to 'Destroy', topic, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Topic', new_topic_path %>
