<p id="notice"><%= notice %></p>

<p>
  <b>Rating template:</b>
  <%= @topic.rating_template_id %>
</p>

<p>
  <b>Title:</b>
  <%= @topic.title %>
</p>

<p>
  <b>Description:</b>
  <%= @topic.description %>
</p>

<p>
  <b>Parent:</b>
  <%= @topic.parent_id %>
</p>

<p>
  <b>Lft:</b>
  <%= @topic.lft %>
</p>

<p>
  <b>Rgt:</b>
  <%= @topic.rgt %>
</p>


<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
