<div class='chart' id='chart_<%= topic.id %><%= subtopic.id %>'></div>
<div class='rating' id='rating_<%= topic.id %><%= subtopic.id %>'></div>

<% if sliders == true %>
	<div class='amount'>
		<input type="text" id='amount_<%= topic.id %><%= subtopic.id %>' style='border:0; color:#000000; font-weight:bold; background-color: #EEEEEE;' value='0' />
	</div>
	<div class="buttons">
		Comments: <br />
		<button type='button' class='button' id='std_<%= topic.id %><%= subtopic.id %>'>template</button> <br />
		<button type='button' class='button' id='hist_<%= topic.id %><%= subtopic.id %>'>previous</button> <br />
		<button type='button' class='button' id='oth_<%= topic.id %><%= subtopic.id %>'>all</button> <br />
	</div>
	
	<div id='std_dialog_<%= topic.id %><%= subtopic.id %>'>
		<p>This is where template comments will appear.</p>
	</div>
	
	<div id='hist_dialog_<%= topic.id %><%= subtopic.id %>'>
		<p>This is where the history of comments for this topic, that have been applied to the subject being evaluated, will appear.</p>
	</div>
	
	<div id='oth_dialog_<%= topic.id %><%= subtopic.id %>'>
		<p>This is where the history of comments for all topics, that have been applied to the subject being evaluated, will appear.</p>
	</div>
	
<% end %>

<script>
var ratings = [0, 0, 0, 0];
var x_tick = ['&mdash;/&mdash;', '&mdash;/&mdash;', '&mdash;/&mdash;', '&mdash;/&mdash;'];
var y_tick = new Array(<%= topic.rating_template.high - topic.rating_template.low %>);
var offset = <%= topic.rating_template.low %>

<% for i in topic.rating_template.low..topic.rating_template.high %>
	y_tick[<%= i %> - offset ] = '<%= i %>';
<% end %>

<% unless previous == false %>
	<% previous.each_with_index do |rating,i| %>
		ratings[<%= 3-i %>] = <%= rating[0] %>;
		x_tick[<%= 3-i %>] = '<%= rating[1].strftime("%m/%y") %>';
		<% break if i > 3 %>  // think about storing all values in array, and make chart scrollable
	<% end %>
<% end %>

$.jqplot("chart_<%= topic.id %><%= subtopic.id %>", [ratings], {
	seriesDefaults:{
     renderer:$.jqplot.BarRenderer,
		 rendererOptions: {barWidth:22},
     pointLabels: { show: true, location: 's',  }
	},
	axes: {
    xaxis: { renderer: $.jqplot.CategoryAxisRenderer, ticks: x_tick },
		yaxis: { min: <%= topic.rating_template.low %>, max: <%= topic.rating_template.high %>, ticks: y_tick }
	},
	drawGridelines: { show: true },
	highlighter: { show: false }
});

<% if sliders == true %>
	$('#rating_<%= topic.id %><%= subtopic.id %>').slider({
		orientation: "vertical",
		range: "min",
		min: <%= topic.rating_template.low %>,
		max: <%= topic.rating_template.high %> * 10,
		value: 0,
		slide: function(event, ui) {
			$('#amount_<%= topic.id %><%= subtopic.id %>').val(ui.value/10);
		}
	});
	
	$('#std_dialog_<%= topic.id %><%= subtopic.id %>').dialog({
		autoOpen: false,
		height: 140,
		modal: true,
		title: 'Comment Templates',
	});
	
	$('#std_<%= topic.id %><%= subtopic.id %>').click(function(){
		$('#std_dialog_<%= topic.id %><%= subtopic.id %>').dialog('open')
	});
	
	$('#hist_dialog_<%= topic.id %><%= subtopic.id %>').dialog({
		autoOpen: false,
		height: 140,
		modal: true,
		title: 'Previous Comments - This Topic',
	});
	
	$('#hist_<%= topic.id %><%= subtopic.id %>').click(function(){
		$('#hist_dialog_<%= topic.id %><%= subtopic.id %>').dialog('open')
	});
	
	$('#oth_dialog_<%= topic.id %><%= subtopic.id %>').dialog({
		autoOpen: false,
		height: 140,
		modal: true,
		title: 'Previous Comments - All Topics',
	});
	
	$('#oth_<%= topic.id %><%= subtopic.id %>').click(function(){
		$('#oth_dialog_<%= topic.id %><%= subtopic.id %>').dialog('open')
	});
	
<% end %>

</script>

