<% @evaluation_template.topics.each do |topic| %>
	<%= div_for(topic, :class => 'topic ui-corner-all') do %>
		<h2 class="demoHeaders"><%= topic.title %></h2>
		<% topic.children.each do |subtopic| %>
			<%= div_for(subtopic, :class => 'subtopic ui-corner-all') do %>
				<div class ='st_left'>
					&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Rating History: 
					<% previous = subtopic.previous_ratings(@evaluation.id, @subject.id) unless previous == false %>
					<%= render( :partial => 'shared/chart', :locals => { :topic => topic, :subtopic => subtopic, :previous => previous, :sliders => sliders } ) %>
				</div>
				
				<div class='st_right'>
					<div class='st_head'>
						<h3><%= subtopic.title %></h3>
					</div>
					
					<div class ='st_desc'>
						<form method="post" action="">
						<% comment = subtopic.comment %>

						<textarea name="comments" cols="80" rows="6" <%= "readonly='readonly'" unless sliders == true %> > <%= comment.text unless comment == nil %> </textarea>
						</form>
					</div>
				</div>
				<div style="clear:both;"></div>
			<% end %>
		<% end %>
	<% end %>
<% end %>