<div id='header'>
  <h1><%= @evaluation_template.name %></h1>
	<h3>Evaluation for: <%= @subject.name %></h3>
	<h3>Prepared by: <%= @evaluator.name %>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Date: <%= @evaluation.evaluation_date %></h3>
	<hr />
</div> <!-- head div -->