<h1>Listing ratings</h1>

<table>
  <tr>
    <th>Evaluation</th>
    <th>Topic</th>
    <th>Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ratings.each do |rating| %>
  <tr>
    <td><%= rating.evaluation_id %></td>
    <td><%= rating.topic_id %></td>
    <td><%= rating.value %></td>
    <td><%= link_to 'Show', rating %></td>
    <td><%= link_to 'Edit', edit_rating_path(rating) %></td>
    <td><%= link_to 'Destroy', rating, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Rating', new_rating_path %>
