<p id="notice"><%= notice %></p>

<p>
  <b>Evaluation:</b>
  <%= @rating.evaluation_id %>
</p>

<p>
  <b>Topic:</b>
  <%= @rating.topic_id %>
</p>

<p>
  <b>Value:</b>
  <%= @rating.value %>
</p>


<%= link_to 'Edit', edit_rating_path(@rating) %> |
<%= link_to 'Back', ratings_path %>
