<%= form_for(@evaluation_templates_topic) do |f| %>
  <% if @evaluation_templates_topic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@evaluation_templates_topic.errors.count, "error") %> prohibited this evaluation_templates_topic from being saved:</h2>

      <ul>
      <% @evaluation_templates_topic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :evaluation_template_id %><br />
    <%= f.text_field :evaluation_template_id %>
  </div>
  <div class="field">
    <%= f.label :topic_id %><br />
    <%= f.text_field :topic_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
