<h1>Listing evaluation_templates_topics</h1>

<table>
  <tr>
    <th>Evaluation template</th>
    <th>Topic</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @evaluation_templates_topics.each do |evaluation_templates_topic| %>
  <tr>
    <td><%= evaluation_templates_topic.evaluation_template_id %></td>
    <td><%= evaluation_templates_topic.topic_id %></td>
    <td><%= link_to 'Show', evaluation_templates_topic %></td>
    <td><%= link_to 'Edit', edit_evaluation_templates_topic_path(evaluation_templates_topic) %></td>
    <td><%= link_to 'Destroy', evaluation_templates_topic, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Evaluation templates topic', new_evaluation_templates_topic_path %>
