<p id="notice"><%= notice %></p>

<p>
  <b>Evaluation template:</b>
  <%= @evaluation_templates_topic.evaluation_template_id %>
</p>

<p>
  <b>Topic:</b>
  <%= @evaluation_templates_topic.topic_id %>
</p>


<%= link_to 'Edit', edit_evaluation_templates_topic_path(@evaluation_templates_topic) %> |
<%= link_to 'Back', evaluation_templates_topics_path %>
