<%= form_for(@evaluation_template) do |f| %>
  <% if @evaluation_template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@evaluation_template.errors.count, "error") %> prohibited this evaluation_template from being saved:</h2>

      <ul>
      <% @evaluation_template.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%#= f.label :logo %><br />
    <%#= f.text_field :logo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
