<% @topics.each do |topic| %>
    <%= render partial: 'topics/info', locals: {topic: topic, evaluation_template_id: @evaluation_template.id} %>
<% end %>
<br>
<br>

<%= render partial: 'topics/form', locals: {evaluation_template_id: @evaluation_template.id, is_subtopic: false } %>

<%= link_to 'Show', @evaluation_template %> |
<%= link_to 'Back', evaluation_templates_path %>
