<br />
<br />

<%= link_to 'Create an Evaluation Template', new_evaluation_template_path, class: "btn btn-primary", style: "color: white !important" %>


<br>
<h1>Listing Evaluation Templates</h1>
<br>
<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th colspan="3">Actions</th>
  </tr>

<% @evaluation_templates.each do |evaluation_template| %>
  <tr>
    <td><%= evaluation_template.name %></td>
    <td><%= link_to 'Show', evaluation_template %></td>
    <td><%= link_to 'Edit', edit_evaluation_template_path(evaluation_template) %></td>
    <td><%= link_to 'Delete', evaluation_template, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
