<br>
<h2 style="margin-left: 15px;">Create an Evaluation Template</h2>
<br>
<div class="col-md-6">
  <%= form_for @evaluation_template do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name, required: true, class: 'form-control' %>
      <br>
      <%= f.submit 'Next', class: 'btn btn-default' %>
  <% end %>
</div>
