<p id="notice"><%= notice %></p>

<div id='header'>
  <h2><%= @evaluation_template.name %></h2>
  <% template_topics = @evaluation_template.topics.where(parent_id: nil).all.to_a%>
  Evaluation for: <span style="font-weight: bold; font-size: 1.1em"> <%= template_topics.count == 0 ? 'Not set' : (template_topics.map{|et| et.title}).join(' - ') %></span>
  <br>
  <br>
  <!--Prepared by: <span style="font-weight: bold; font-size: 1.1em"><%= @evaluator.name %>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>-->
  Date: <span style="font-weight: bold; font-size: 1.1em"><%= @evaluation.evaluation_date %></span>
  <hr />
</div> <!-- head div -->

<% @topics.each do |topic| %>
    <%= render partial: 'topics/info', locals: {topic: topic, evaluation_template_id: @evaluation_template.id} %>
<% end %>
<br>
<br>

<%= link_to 'Edit', edit_evaluation_template_path(@evaluation_template) %> |
<%= link_to 'Back', evaluation_templates_path %>
