= form_for @evaluatee do |f|
  - if @evaluatee.errors.any?
    #error_explanation
      h2 = "#{pluralize(@evaluatee.errors.count, "error")} prohibited this evaluatee from being saved:"
      ul
        - @evaluatee.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :name
    br
    = f.text_field :name, class: 'form-control'
  .field
    = f.label :email
    br
    = f.text_field :email, class: 'form-control'
  .actions = f.submit
