br
br
= link_to 'New Evaluatee', new_evaluatee_path, class: 'btn btn-default'
br

h2 Listing evaluatees

br

table.table.table-striped
  thead
    tr
      th Name
      th Email
      th colspan="3" Actions
  tbody
    - @evaluatees.each do |evaluatee|
      tr
        td = evaluatee.name
        td = evaluatee.email
        td = link_to 'Show', evaluatee
        td = link_to 'Edit', edit_evaluatee_path(evaluatee)
        td = link_to 'Destroy', evaluatee, data: {:confirm => 'Are you sure?'}, :method => :delete
