
<% if user_signed_in? %>
    <% if current_user.try(:admin?) %>
        <li><%= link_to 'Evaluation Templates', evaluation_templates_path %></li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Manage users', users_path %></li>
            <!--<li><%= link_to 'Evaluations', evaluations_path %></li>-->
            <!--<li><%= link_to 'Evaluators', evaluators_path %></li>-->
            <!--<li><%= link_to 'Evaluation Template Topics', evaluation_templates_topics_path %></li>-->
            <!--<li><%= link_to 'Subjects', subjects_path %></li>-->
            <!--<li><%= link_to 'Topics', topics_path %></li>-->
            <!--<li><%= link_to 'Ratings', ratings_path %></li>-->
            <!--<li><%= link_to 'Rating Templates', ratings_path %></li>-->
            <!--<li><%= link_to 'Comments', comments_path %></li>-->
          </ul>
        </li>
        <li><%#= link_to 'Admin', '/admin' %></li>
    <% elsif current_user.try(:evaluator?) %>
        <li><%= link_to 'Evaluatees', evaluatees_path %></li>
    <% end %>
<% end %>

<% if user_signed_in? %>
  <li><%= link_to 'Edit account', edit_user_registration_path %></li>
  <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to 'Sign in', new_user_session_path %></li>
  <li><%= link_to 'Sign up', new_user_registration_path %></li>
<% end %>
