/ navigation styled for Bootstrap 3.0
nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle[type="button" data-toggle="collapse" data-target=".navbar-collapse"]
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      = link_to 'Performance Evaluation Application', root_path, class: 'navbar-brand', style: 'color: #fff; font-size: 1.2em'
    .collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        == render 'layouts/navigation_links'
